.tQuest > div {
  > input {
    width: 85%;
  }

  > label {
    width: 100px;
  }
}
.TextSingle{
  > ul{
        list-style-type: none;
        > li {
                margin-top:10px;
                padding-bottom:10px;
                border-bottom: 1px dotted black;

                > input {
                  width: 70%;
                }

                > label {
                  width: 190px;
                }
        }
      }
  > div{

      margin-top:10px;
      padding-bottom:10px;
      border-bottom: 1px dotted black;

      > input {
        width: 70%;
      }

      > label {
        width: 190px;
      }
    > ul{
      list-style-type: none;
      > li {
        margin-top:10px;
        padding-bottom:10px;
        border-bottom: 1px dotted black;

        > input {
          width: 70%;
        }

        > label {
          width: 190px;
        }
      }
    }
  }
}
.errorMsg{

  //font-weight: bold;
  font-size: 14px;
  margin-top:10px;
  margin-bottom:10px;
  border: 2px solid darkred;
  padding: 5px 5px;
  background-color:#FFDDD9;
  border-radius: 7px;

}

.login {
	border: 1px solid red; 
	.test {
		color: red;
	}
}