
<div class="row">
	<div class="col-md-12">
		<h2>Create a new evaluation template</h2>
		<button ng-click="createEval()">Go to creation page</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Add an evaluation based on a template</h2>
		<select ng-model="templateID" ng-options="template.ID as template.Title for template in templates">
			<!-- 
			<option ng-repeat="template in templates" value="template.ID">
				{{ template.Title }}	
			</option> -->
		</select>
		<label for="startDate">Start Date</label>
		<input step="1" type="datetime-local" ng-model="startDate" name="startDate" />
		<label for="endDate">End Date</label>
		<input type="datetime-local" ng-model="endDate" name="endDate" />
		<button class="btn btn-default" ng-click="addTemplate()">Add template</button>
	</div>
</div>
<div ng-bind="successMsg"></div>

<div class="row">
	<div class="col-md-12">
		<h2>Tests</h2>
		<button class="btn btn-default" ng-click="test()">Run tests</button>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Evaluation Results</h2>
		<!-- 
		<ul>
			<li ng-repeat="eval in evaluations">
				<a ng-href="/#/answereval/{{ eval.CourseID }}/{{ eval.Semester }}/{{ eval.ID }}">{{ eval.TemplateTitle }} - {{ eval.Status }}</a> : {{ eval.StartDate | date : 'longDate' : 'GMT' }} - {{ eval.EndDate | date : 'longDate' : 'GMT'}} 
			</li>
		</ul> -->

		<select ng-model="evalID" ng-options="eval.ID as (eval.TemplateTitle + ' - ' + eval.Status + ' : ' + (eval.StartDate | date : 'longDate' : 'GMT') + ' - ' + (eval.EndDate | date : 'longDate' : 'GMT')) for eval in evaluations">
		</select>
		<button class="btn btn-default" ng-click="getEvaluationResults()">Get links for course results</button>

		<ul>
			<li ng-repeat="course in courses">
				<a ng-href="/#/evalresults/{{ course.CourseID }}/{{ course.Semester }}/{{ evalID }}">{{ course.CourseName }}</a>
			</li>
		</ul>
	</div>
</div>