<div class="row">
	<div class="col-md-12">
		<form name="loginForm">
			<div class="form-group">
				<label for="username">Username:</label>
				<input type="text" placeholder="Username" ng-model="username" ng-required="true" name="username" />
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password"  placeholder="Password" ng-model="password" ng-required="true" name="password" />
			</div>
            <div class="errorMsg" ng-show="errorMsg.length" ng-bind="errorMsg"></div>
			<button class="btn btn-default"  ng-disabled="loginForm.$invalid" ng-click="logIn(username, password)">Log in</button>

		</form>
	</div>
</div>
