@import 'variables';

$clode-duration:20s;

.GameCanvas-Cloud {
     z-index: 4;
     position: absolute;
     top: em(20px);
     width:100%;
     right: -110%;
     height: em(100px);
     animation: slide-left-Cloud $clode-duration infinite linear;
     transform: translateZ(0);
 }

.x2{
    z-index: 2;
    top: em(100px);
    height: em(80px);
    right: -100%;
    animation: slide-left-Cloud ($clode-duration + 10s) infinite linear;
}

.run {
    transform: none;
}


.x3 {
    z-index: 1;
    top: em(200px);
    right: -120%;
    height: em(40px);
    animation: slide-left-Cloud ($clode-duration + 30s) infinite linear;
}

.GameCanvas-Cloud img{
    height:100%;
}

@keyframes slide-left-Cloud {
    from {
        transform: translateZ(0) none;
    }
    to {
        transform: translateZ(0) translate(-140%, 0);
    }
}
