@import 'variables';
$volButtonSize : 50px;
.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;

    // Create a 1024x576 pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 50%;
    top: 50%;
    width: em(1024px);
    height: em(576px);
    margin-left: (em(-1024px) / 2);
    margin-top: (em(-576px) / 2);

    // Don't draw outside this box.
    overflow: hidden;

    // Some graphics
    background: #7ec0ee;
}

.GameCanvas-Dirt {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: em(40px);
    background: #784800;
}

.GameCanvas-Grass {
    z-index: 5;
    position: absolute;
    bottom: em(30px); //10px ofan i dirt
    left: 0;
    right: em(-50px);
    height: em(70px);
    background: url('../images/grass-thinner.png') repeat-x;
    background-size: em(50px);
    animation: slide-left 0.4s infinite linear;
    transform: translateZ(0);
}

.GameCanvas-PipeUpper {
    z-index: 3;
    position: absolute;
    width: em(100px);
    height: em(228px);
    background: green;
    top: 0px;
    //right: 0px;
    left: 0px;
   // border: em(1px) solid black;

    background-image: url('../images/pillar.png');
    border-bottom-right-radius: em(40px) em(20px);
    border-bottom-left-radius: em(40px) em(20px);





    transform: translateZ(0);
}
.GameCanvas-PipeLower-top {
    position:relative;
    //left:em(-1px);
    top:em(-47px);
    width:em(100px);
    height: em(100px);
    background-image: url('../images/rings.png');
    border-radius: em(50px);
    -webkit-transform: rotateZ(0) rotateX(70deg);
}
.GameCanvas-PipeLower {
    z-index: 3;
    position: absolute;
    background: green;
    width: em(100px);
    height: em(154px);
    bottom: em(40px); //dirt
    //right: 0px;
    left: 0px;
    //border: em(1px) solid black;

    background-image: url('../images/pillar.png');

    transform: translateZ(0);
}

.volume{
    z-index:5;
    position:absolute;
    left: em($volButtonSize);
    top: em(30px);
    height:em($volButtonSize);
    cursor: pointer;
    background-color:purple;
    border-radius: 50%;

}
.volume:active {
    background-color: #7ec0ee;
}
#volume-up{
    left: em($volButtonSize*2.5);
}
.volume img{

    width:em($volButtonSize);
    height:em($volButtonSize);
}

@keyframes slide-left {
   from {
      transform: translateZ(0) none;
   }
   to {
      transform: translateZ(0) translate(em(-50px), 0);
   }
}