@import 'variables';

.pillars{
    z-index:5;
    position:absolute;
    left:em(700px);//todo:del me
}

.pillar-top, .pillar-bottom{
    width:em(100px);
    height:em(195px);
    background-image: url('../images/pillar.png');
    border-bottom-right-radius: em(40px) em(20px);
    border-bottom-left-radius: em(40px) em(20px);

}
.pillar-middle{
    height:em(150px);
}
.pillar-bottom-top{
    position:relative;
    top:em(-50px);
    width:em(100px);
    height: em(100px);
    background-image: url('../images/rings.png');
    border-radius: em(50px);
    -webkit-transform: rotateZ(0) rotateX(70deg);
}
