@import 'variables';
.Player {
    z-index: 3;
    position: absolute;
    top: em(20px);
    left: em(20px);
    width: em(50px);
    height: em(24px);
    border-radius: 50%;
    background-image: url("/images/fugl.png");
    background-size: 100%;
    transform: translateZ(0);
}


.Player-Wing {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: em(-8px);
    margin-top: em(1px);
    width: em(20px);
    height: em(25px);
	background-image: url("/images/wing.png");
	background-size: 100%;
    transform: translateZ(0);
    transform-origin: top left;
    animation: 0.4s flap alternate infinite;
}

.Player-Wing.is-stopped {
    transform: none;
}

@keyframes flap {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(180deg);
  }
}
