@import 'variables';
.DisplayScore{
    position:absolute;
    color:white;
    top:em(5px);
    right:em(7px);

    font-family: serif;
    font-size:em(50px);
}
.Scoreboard {
    z-index:5;
	position: absolute;
	left: 50%;
	top: em(100px);
	height: em(300px);
	width: em(400px);
	margin-left: em(-200px);
	box-sizing: border-box;

	background: purple;
	text-align: center;

	// Keep it off-screen
	transform: translate(0, em(-412px));
	transition: transform 0.5s;

    border-radius: 20%;
    box-shadow: inset 0 em(10px) em(5px) rgba(255, 255, 255,0.5), 0 em(10px) em(5px) rgba(0, 0, 0, 0.5);
}

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
.Scoreboard.is-visible {
	transform: none;
}

.Scoreboard-restart {
	margin-top: em(35px);

	font-size: inherit;
	padding: em(4px) em(15px);
	border: em(2px) solid white;
	background: none;
	cursor: pointer;
}

.Scoreboard-restartText,  .Score,    .HighScore {
	font-family: serif;
	font-size: $ScoreFont;
	color: white;
}

.Score{
    margin-top:em(15px);
    margin-bottom:em(5px);
}

.newHighscore{
    font-family: serif;
    font-size: em(10px);
    -webkit-transform: rotate(-30deg);
    color: greenyellow;
    position: absolute;
    left: em(29px);
    top: em(56px);
    z-index: 6;

}

