$base-font-size: 10px;

@media screen and (max-width: 800px) {

    .GameCanvas {
        // Design everything with a nice em of 10px.
        font-size: $base-font-size/2;
    }
    body {
        background-color: lightblue;
        font-size: $base-font-size/2;
    }
}
    @function em($px, $base: $base-font-size) {
        @return ($px / $base) * 1em;
    }
