/* line 3, main.scss */
body {
  background: black;
}

/* line 7, main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 14, main.scss */
.volume {
  cursor: pointer;
  margin-right: 0.3em;
}

/* line 18, main.scss */
.volume img {
  width: 1.8em;
}

/* line 5, _game-cloud.scss */
.GameCanvas-Cloud {
  z-index: 4;
  position: absolute;
  top: 2em;
  width: 100%;
  right: -110%;
  height: 10em;
  animation: slide-left-Cloud 20s infinite linear;
  transform: translateZ(0);
}

/* line 16, _game-cloud.scss */
.x2 {
  z-index: 2;
  top: 10em;
  height: 8em;
  right: -100%;
  animation: slide-left-Cloud 30s infinite linear;
}

/* line 24, _game-cloud.scss */
.run {
  transform: none;
}

/* line 29, _game-cloud.scss */
.x3 {
  z-index: 1;
  top: 20em;
  right: -120%;
  height: 4em;
  animation: slide-left-Cloud 50s infinite linear;
}

/* line 37, _game-cloud.scss */
.GameCanvas-Cloud img {
  height: 100%;
}

@keyframes slide-left-Cloud {
  from {
    transform: translateZ(0) none;
  }
  to {
    transform: translateZ(0) translate(-140%, 0);
  }
}
/* line 3, _game-canvas.scss */
.GameCanvas {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: #7ec0ee;
}

/* line 26, _game-canvas.scss */
.GameCanvas-Dirt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  background: #784800;
}

/* line 35, _game-canvas.scss */
.GameCanvas-Grass {
  z-index: 1;
  position: absolute;
  bottom: 3em;
  left: 0;
  right: -5em;
  height: 7em;
  background: url("../images/grass-thinner.png") repeat-x;
  background-size: 5em;
  animation: slide-left 0.4s infinite linear;
  transform: translateZ(0);
}

@keyframes slide-left {
  from {
    transform: translateZ(0) none;
  }
  to {
    transform: translateZ(0) translate(-5em, 0);
  }
}
/* line 2, _player.scss */
.Player {
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 24px;
  border-radius-left: 50%;
  border-radius-top: 50%;
  border-radius-right: 50%;
  border-radius-bottom: 50%;
  background-image: url("/images/fugl.png");
  background-size: 100%;
  transform: translateZ(0);
}

/* line 20, _player.scss */
.Player-Wing {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: 1px;
  width: 20px;
  height: 25px;
  background-image: url("/images/wing.png");
  background-size: 100%;
  background: chyan;
  transform: translateZ(0);
  transform-origin: top left;
  animation: 0.4s flap alternate infinite;
}

/* line 37, _player.scss */
.Player-Wing.is-stopped {
  transform: none;
}

@keyframes flap {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(180deg);
  }
}
/* line 3, _scoreboard.scss */
.Scoreboard {
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 10em;
  height: 30em;
  width: 40em;
  margin-left: -20em;
  box-sizing: border-box;
  background: purple;
  text-align: center;
  transform: translate(0, -41.2em);
  transition: transform 0.5s;
  border-radius: 20%;
  box-shadow: inset 0 1em 0.5em rgba(255, 255, 255, 0.5), 0 1em 0.5em rgba(0, 0, 0, 0.5);
}

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
/* line 27, _scoreboard.scss */
.Scoreboard.is-visible {
  transform: none;
}

/* line 31, _scoreboard.scss */
.Scoreboard-restart {
  margin-top: 3.5em;
  font-size: inherit;
  padding: 0.4em 1.5em;
  border: 0.2em solid white;
  background: none;
  cursor: pointer;
}

/* line 41, _scoreboard.scss */
.Scoreboard-restartText, .Score, .HighScore {
  font-family: serif;
  font-size: 2.4em;
  color: white;
}

/* line 47, _scoreboard.scss */
.Score {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* line 52, _scoreboard.scss */
.newHighscore {
  font-family: serif;
  font-size: 1em;
  -webkit-transform: rotate(-30deg);
  color: greenyellow;
  position: absolute;
  left: 2.9em;
  top: 5.6em;
  z-index: 6;
}
