@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/main\.scss}line{font-family:\000033}}
body {
  background: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/main\.scss}line{font-family:\000037}}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/main\.scss}line{font-family:\0000314}}
.volume {
  z-index: 5;
  position: absolute;
  left: 12em;
  top: 3em;
  height: 1.8em;
  cursor: pointer;
  background-color: purple;
  border-radius: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/main\.scss}line{font-family:\0000325}}
.volume:active {
  background-color: #7ec0ee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/main\.scss}line{font-family:\0000328}}
#volume-up {
  left: 14.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/main\.scss}line{font-family:\0000331}}
.volume img {
  width: 1.8em;
  height: 1.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\000035}}
.cloud {
  width: 17.2em;
  height: 12.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000310}}
.cloud div {
  position: absolute;
  background-color: #f6f6f6;
  border-radius: 50%;
  border-width: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000319}}
#cloud1 .cx1 {
  top: 4em;
  left: 1em;
  width: 6em;
  height: 5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000320}}
#cloud1 .cx2 {
  top: 2em;
  left: 4em;
  width: 5em;
  height: 5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000321}}
#cloud1 .cx3 {
  top: 3em;
  left: 5em;
  width: 10em;
  height: 10em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000322}}
#cloud1 .cx4 {
  top: 3em;
  left: 1em;
  width: 16em;
  height: 8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000323}}
#cloud1 .cx5 {
  top: 1em;
  left: 7em;
  width: 7em;
  height: 7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000319}}
#cloud2 .cx1 {
  top: 2.4em;
  left: 0.6em;
  width: 3.6em;
  height: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000320}}
#cloud2 .cx2 {
  top: 1.2em;
  left: 2.4em;
  width: 3em;
  height: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000321}}
#cloud2 .cx3 {
  top: 1.8em;
  left: 3em;
  width: 6em;
  height: 6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000322}}
#cloud2 .cx4 {
  top: 1.8em;
  left: 0.6em;
  width: 9.6em;
  height: 4.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000323}}
#cloud2 .cx5 {
  top: 0.6em;
  left: 4.2em;
  width: 4.2em;
  height: 4.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000319}}
#cloud3 .cx1 {
  top: 1.2em;
  left: 0.3em;
  width: 1.8em;
  height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000320}}
#cloud3 .cx2 {
  top: 0.6em;
  left: 1.2em;
  width: 1.5em;
  height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000321}}
#cloud3 .cx3 {
  top: 0.9em;
  left: 1.5em;
  width: 3em;
  height: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000322}}
#cloud3 .cx4 {
  top: 0.9em;
  left: 0.3em;
  width: 4.8em;
  height: 2.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000323}}
#cloud3 .cx5 {
  top: 0.3em;
  left: 2.1em;
  width: 2.1em;
  height: 2.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000331}}
.GameCanvas-Cloud {
  z-index: 4;
  /*make bird go behind this cloud*/
  position: absolute;
  top: 2em;
  width: 100%;
  right: -110%;
  height: 10em;
  animation: slide-left-Cloud 30s infinite linear;
  transform: translateZ(0);
  opacity: 0.3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000343}}
.x2 {
  z-index: 1;
  top: 10em;
  height: 8em;
  right: -100%;
  animation: slide-left-Cloud 40s infinite linear;
  opacity: 0.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000353}}
.x3 {
  z-index: 1;
  top: 20em;
  right: -120%;
  height: 4em;
  animation: slide-left-Cloud 60s infinite linear;
  opacity: 0.7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-cloud\.scss}line{font-family:\0000362}}
.GameCanvas-Cloud img {
  height: 100%;
}

@keyframes slide-left-Cloud {
  from {
    transform: translateZ(0) none;
  }
  to {
    transform: translateZ(0) translate(-140%, 0);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-canvas\.scss}line{font-family:\000033}}
.GameCanvas {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: #7ec0ee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-canvas\.scss}line{font-family:\0000326}}
.GameCanvas-Dirt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  background: #784800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_game-canvas\.scss}line{font-family:\0000335}}
.GameCanvas-Grass {
  z-index: 1;
  position: absolute;
  bottom: 3em;
  left: 0;
  right: -5em;
  height: 7em;
  background: url("../images/grass-thinner.png") repeat-x;
  background-size: 5em;
  animation: slide-left 0.4s infinite linear;
  transform: translateZ(0);
}

@keyframes slide-left {
  from {
    transform: translateZ(0) none;
  }
  to {
    transform: translateZ(0) translate(-5em, 0);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_player\.scss}line{font-family:\000032}}
.Player {
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 24px;
  border-radius: 50%;
  background-image: url("/images/fugl.png");
  background-size: 100%;
  transform: translateZ(0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_player\.scss}line{font-family:\0000317}}
.Player-Wing {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: 1px;
  width: 20px;
  height: 25px;
  background-image: url("/images/wing.png");
  background-size: 100%;
  background: chyan;
  transform: translateZ(0);
  transform-origin: top left;
  animation: 0.4s flap alternate infinite;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_player\.scss}line{font-family:\0000334}}
.Player-Wing.is-stopped {
  transform: none;
}

@keyframes flap {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(180deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_scoreboard\.scss}line{font-family:\000032}}
.DisplayScore {
  position: absolute;
  color: white;
  top: 0.5em;
  right: 0.7em;
  font-family: serif;
  font-size: 5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_scoreboard\.scss}line{font-family:\0000311}}
.Scoreboard {
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 10em;
  height: 30em;
  width: 40em;
  margin-left: -20em;
  box-sizing: border-box;
  background: purple;
  text-align: center;
  transform: translate(0, -41.2em);
  transition: transform 0.5s;
  border-radius: 20%;
  box-shadow: inset 0 1em 0.5em rgba(255, 255, 255, 0.5), 0 1em 0.5em rgba(0, 0, 0, 0.5);
}

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_scoreboard\.scss}line{font-family:\0000335}}
.Scoreboard.is-visible {
  transform: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_scoreboard\.scss}line{font-family:\0000339}}
.Scoreboard-restart {
  margin-top: 3.5em;
  font-size: inherit;
  padding: 0.4em 1.5em;
  border: 0.2em solid white;
  background: none;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_scoreboard\.scss}line{font-family:\0000349}}
.Scoreboard-restartText, .Score, .HighScore {
  font-family: serif;
  font-size: 2.4em;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_scoreboard\.scss}line{font-family:\0000355}}
.Score {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/git\/Vefforritun-2\/Flappy\/skil4\/app\/styles\/_scoreboard\.scss}line{font-family:\0000360}}
.newHighscore {
  font-family: serif;
  font-size: 1em;
  -webkit-transform: rotate(-30deg);
  color: greenyellow;
  position: absolute;
  left: 2.9em;
  top: 5.6em;
  z-index: 6;
}
