/* line 3, main.scss */
body {
  background: black;
}

/* line 7, main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 14, main.scss */
.volume {
  z-index: 5;
  position: absolute;
  left: 12em;
  top: 3em;
  height: 1.8em;
  cursor: pointer;
  background-color: purple;
  border-radius: 50%;
}

/* line 25, main.scss */
.volume:active {
  background-color: #7ec0ee;
}

/* line 28, main.scss */
#volume-up {
  left: 14.2em;
}

/* line 31, main.scss */
.volume img {
  width: 1.8em;
  height: 1.8em;
}

/* line 1, _pillar.scss */
.pillars {
  z-index: 5;
  position: absolute;
  left: 700px;
}

/* line 7, _pillar.scss */
.pillar-top, .pillar-bottom {
  width: 100px;
  height: 195px;
  background-image: url("/images/pillar.png");
  background-color: #cccccc;
  border-bottom-right-radius: 40px 20px;
  border-bottom-left-radius: 40px 20px;
}

/* line 16, _pillar.scss */
.pillar-middle {
  height: 150px;
}

/* line 19, _pillar.scss */
.pillar-bottom-top {
  position: relative;
  top: -10px;
  left: 2px;
  width: 96px;
  height: 20px;
  background: gray;
  border-top-right-radius: 70px 14px;
  border-top-left-radius: 70px 14px;
  border-bottom-right-radius: 30px 20px;
  border-bottom-left-radius: 30px 20px;
}

/* line 5, _game-cloud.scss */
.cloud {
  width: 17.2em;
  height: 12.3em;
}

/* line 10, _game-cloud.scss */
.cloud div {
  position: absolute;
  background-color: #f6f6f6;
  border-radius: 50%;
  border-width: 0.5em;
}

/* line 19, _game-cloud.scss */
#cloud1 .cx1 {
  top: 4em;
  left: 1em;
  width: 6em;
  height: 5em;
}

/* line 20, _game-cloud.scss */
#cloud1 .cx2 {
  top: 2em;
  left: 4em;
  width: 5em;
  height: 5em;
}

/* line 21, _game-cloud.scss */
#cloud1 .cx3 {
  top: 3em;
  left: 5em;
  width: 10em;
  height: 10em;
}

/* line 22, _game-cloud.scss */
#cloud1 .cx4 {
  top: 3em;
  left: 1em;
  width: 16em;
  height: 8em;
}

/* line 23, _game-cloud.scss */
#cloud1 .cx5 {
  top: 1em;
  left: 7em;
  width: 7em;
  height: 7em;
}

/* line 19, _game-cloud.scss */
#cloud2 .cx1 {
  top: 2.4em;
  left: 0.6em;
  width: 3.6em;
  height: 3em;
}

/* line 20, _game-cloud.scss */
#cloud2 .cx2 {
  top: 1.2em;
  left: 2.4em;
  width: 3em;
  height: 3em;
}

/* line 21, _game-cloud.scss */
#cloud2 .cx3 {
  top: 1.8em;
  left: 3em;
  width: 6em;
  height: 6em;
}

/* line 22, _game-cloud.scss */
#cloud2 .cx4 {
  top: 1.8em;
  left: 0.6em;
  width: 9.6em;
  height: 4.8em;
}

/* line 23, _game-cloud.scss */
#cloud2 .cx5 {
  top: 0.6em;
  left: 4.2em;
  width: 4.2em;
  height: 4.2em;
}

/* line 19, _game-cloud.scss */
#cloud3 .cx1 {
  top: 1.2em;
  left: 0.3em;
  width: 1.8em;
  height: 1.5em;
}

/* line 20, _game-cloud.scss */
#cloud3 .cx2 {
  top: 0.6em;
  left: 1.2em;
  width: 1.5em;
  height: 1.5em;
}

/* line 21, _game-cloud.scss */
#cloud3 .cx3 {
  top: 0.9em;
  left: 1.5em;
  width: 3em;
  height: 3em;
}

/* line 22, _game-cloud.scss */
#cloud3 .cx4 {
  top: 0.9em;
  left: 0.3em;
  width: 4.8em;
  height: 2.4em;
}

/* line 23, _game-cloud.scss */
#cloud3 .cx5 {
  top: 0.3em;
  left: 2.1em;
  width: 2.1em;
  height: 2.1em;
}

/* line 31, _game-cloud.scss */
.GameCanvas-Cloud {
  z-index: 4;
  /*make bird go behind this cloud*/
  position: absolute;
  top: 2em;
  width: 100%;
  right: -110%;
  height: 10em;
  animation: slide-left-Cloud 30s infinite linear;
  transform: translateZ(0);
  opacity: 0.3;
}

/* line 43, _game-cloud.scss */
.x2 {
  z-index: 1;
  top: 10em;
  height: 8em;
  right: -100%;
  animation: slide-left-Cloud 40s infinite linear;
  opacity: 0.5;
}

/* line 53, _game-cloud.scss */
.x3 {
  z-index: 1;
  top: 20em;
  right: -120%;
  height: 4em;
  animation: slide-left-Cloud 60s infinite linear;
  opacity: 0.7;
}

/* line 62, _game-cloud.scss */
.GameCanvas-Cloud img {
  height: 100%;
}

@keyframes slide-left-Cloud {
  from {
    transform: translateZ(0) none;
  }
  to {
    transform: translateZ(0) translate(-140%, 0);
  }
}
/* line 3, _game-canvas.scss */
.GameCanvas {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: #7ec0ee;
}

/* line 26, _game-canvas.scss */
.GameCanvas-Dirt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  background: #784800;
}

/* line 35, _game-canvas.scss */
.GameCanvas-Grass {
  z-index: 6;
  position: absolute;
  bottom: 3em;
  left: 0;
  right: -5em;
  height: 7em;
  background: url("../images/grass-thinner.png") repeat-x;
  background-size: 5em;
  animation: slide-left 0.4s infinite linear;
  transform: translateZ(0);
}

@keyframes slide-left {
  from {
    transform: translateZ(0) none;
  }
  to {
    transform: translateZ(0) translate(-5em, 0);
  }
}
/* line 2, _player.scss */
.Player {
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 24px;
  border-radius: 50%;
  background-image: url("/images/fugl.png");
  background-size: 100%;
  transform: translateZ(0);
}

/* line 17, _player.scss */
.Player-Wing {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: 1px;
  width: 20px;
  height: 25px;
  background-image: url("/images/wing.png");
  background-size: 100%;
  background: chyan;
  transform: translateZ(0);
  transform-origin: top left;
  animation: 0.4s flap alternate infinite;
}

/* line 34, _player.scss */
.Player-Wing.is-stopped {
  transform: none;
}

@keyframes flap {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(180deg);
  }
}
/* line 2, _scoreboard.scss */
.DisplayScore {
  position: absolute;
  color: white;
  top: 0.5em;
  right: 0.7em;
  font-family: serif;
  font-size: 5em;
}

/* line 11, _scoreboard.scss */
.Scoreboard {
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 10em;
  height: 30em;
  width: 40em;
  margin-left: -20em;
  box-sizing: border-box;
  background: purple;
  text-align: center;
  transform: translate(0, -41.2em);
  transition: transform 0.5s;
  border-radius: 20%;
  box-shadow: inset 0 1em 0.5em rgba(255, 255, 255, 0.5), 0 1em 0.5em rgba(0, 0, 0, 0.5);
}

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
/* line 35, _scoreboard.scss */
.Scoreboard.is-visible {
  transform: none;
}

/* line 39, _scoreboard.scss */
.Scoreboard-restart {
  margin-top: 3.5em;
  font-size: inherit;
  padding: 0.4em 1.5em;
  border: 0.2em solid white;
  background: none;
  cursor: pointer;
}

/* line 49, _scoreboard.scss */
.Scoreboard-restartText, .Score, .HighScore {
  font-family: serif;
  font-size: 2.4em;
  color: white;
}

/* line 55, _scoreboard.scss */
.Score {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* line 60, _scoreboard.scss */
.newHighscore {
  font-family: serif;
  font-size: 1em;
  -webkit-transform: rotate(-30deg);
  color: greenyellow;
  position: absolute;
  left: 2.9em;
  top: 5.6em;
  z-index: 6;
}
