<div class="container">
	<h1>Welcome to {{ roomName }}</h1> <!-- 
	<div class="well">
		<div class="row">
			<div class="col-md-9 col-xs-9">
				<ul style="list-style: none">
					<li ng-repeat="message in messages">
						<span>
							<strong>[{{ message.timestamp | date:"HH:mm:ss" }}]:</strong>
							<strong>
								{{ message.nick }}
							</strong>
							{{ message.message }}
						</span>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-xs-3">
				<p>Users</p>
				<ul>
					<li ng-repeat="user in users">
						{{ user }}
					</li>
				</ul>
			</div>
		</div>
	</div> 
	<input ng-model="currentMessage" class="form-control" ng-keypress="keyPress($event)" />
	<button ng-click="send()">Send!</button>
	<button ng-click="leaveRoom()">Leave room</button>  -->
	<div class="row"> 
		<div class="col-md-12"> 
			<div>
		   		<tabset>
		   			<tab ng-repeat="tab in tabs" ng-if="tab.isRoom" heading="{{tab.title}}" active="tab.active">
		   				<div class="well">
		   					<div class="row">
		   						<div class="col-md-9">
									<ul style="list-style: none">
										<li ng-repeat="message in messages">
											<span>
												<strong>[{{ message.timestamp | date:"HH:mm:ss" }}]:</strong>
												<strong>
													{{ message.nick }}
												</strong>
												{{ message.message }}
											</span>
										</li>
									</ul>
								</div>
								<div class="col-md-3">
									<p>Users</p>
									<ul>
										<li ng-repeat="user in users">
											{{ user }}
										</li>
									</ul>
								</div>
							</div>
		   				</div>
		   				<input ng-model="currentMessage.message" class="form-control" ng-keypress="keyPress($event)" />
						<button ng-click="send()">Send!</button> 
						<button ng-click="leaveRoom()">Leave room</button> 
		   			</tab>
		      		<tab ng-repeat="tab in tabs" ng-if="!tab.isRoom" heading="{{tab.title}}" active="tab.active">
		      			<div class="well">
		         			<!-- {{ tab.content }} -->
							<ul style="list-style: none" ng-repeat="pm in privateMessages" ng-if="pm.from == tab.title">
								<!-- <li ng-repeat="pm in privateMessages" ng-if="pm.from = tab.title">
									<span ng-repeat="msg in pm.messages">
										<strong>
											{{ msg.from }}
										</strong>
										 : {{ msg.msg }}
									</span>
								</li> -->

								<!-- Working
								<li ng-repeat="pm in privateMessages" ng-if="pm.from == tab.title">
									<span ng-repeat="msg in pm.messages">
										<strong>
											{{ msg.from }}
										</strong>
									    {{ msg.msg }}
									</span>
								</li> -->
								<li ng-repeat="msg in pm.messages">
									<strong>{{ msg.from }}</strong> {{ msg.msg }}
								</li>
							</ul>
		         		</div>
		         		<input ng-model="currentPM.PM" class="form-control" ng-keypress="keyPress($event, true, tab.title)" />
		         		<button ng-click="sendPM(tab.title)">Send PM</button>
		      		</tab>
		   		</tabset>
			</div> 
		</div>
	</div>   
	<div class="row">
		<div class="col-md-12">
			<div class="bg-info">
				<p>
					The following commands are offered:
				</p>
				<ul>
					<li>/ban user (have to have op privileges)</li>
					<li>/kick user (have to have op privileges)</li>
					<li>/msg user message</li>
				</ul>
			</div>
		</div>
	</div>
</div>